.container {
  width: 100%;
  display: flex;
  align-items: center;
}

.loading {
  margin: 100px auto;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.loading:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid salmon;
  border-color: salmon transparent salmon transparent;
  animation: loading 1.2s linear infinite;
  -webkit-animation: loading 1.2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

/* Styles */

@media screen and (max-width: 992px) {
  .loading {
    width: 80px;
    height: 80px;
  }
  .loading:after {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 768px) {
  .loading {
    width: 50px;
    height: 50px;
  }
  .loading:after {
    width: 50px;
    height: 50px;
  }
}
