.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 400px;
  margin: 0 auto;
  border-bottom: 2px solid saddlebrown;
  padding-bottom: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.container img {
  width: 30px;
}

/* Responsive */

@media screen and (max-width: 768px) {
  .container {
    width: 300px;
  }

  .container h3,
  .container span {
    font-size: 13px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 200px;
  }

  .container h3,
  .container span {
    font-size: 10px;
  }
}
