.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: #fcde67;
  padding: 20px 50px;
  margin: 0 auto;
}

.container > article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  text-align: justify;
  margin-right: 50px;
  color: #030e12;
}
.container > article h3 {
  font-size: 35px;
}
.container img {
  width: 500px;
  border-radius: 10px;
}
/* Responsive */
@media screen and (max-width: 992px) {
  .container {
    padding: 70px 30px;
    flex-direction: column;
  }

  .container article {
    margin-right: 0;
    height: 250px;
    justify-content: space-between;
    width: 700px;
  }

  .container img {
    width: 700px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 70px 30px;
    flex-direction: column;
    justify-content: space-around;
  }

  .container article {
    margin-right: 0;
    height: 280px;
    justify-content: space-between;
    width: 350px;
  }

  .container img {
    width: 350px;
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 70px 20px;
  }

  .container article {
    height: 290px;
    width: 250px;
  }

  .container > article h3 {
    font-size: 22px;
  }

  .container img {
    width: 250px;
    height: 150px;
  }
}